---
layout: publications
title: Publications
permalink: /publications
---

<div class="container mb-25 mt-100">
  <h2 style="text-align: center;">Publications</h2>
  <div align="center" class="mb-25"><hr class="red-underline"/></div>

  {% for paper in site.publications %}
		<div class="row">
      <hr class="news-line"/>
      <div class="col-sm-1"><b class="publication-year">{{paper.year}}</b></div>
      <div class="col-sm-10">
        <div class="publication-name-container">
          <a class="publication-name" href="{{ paper.paper_link | prepend: "/assets/publications/" }}" target="_blank">
            <b>{{paper.name}}</b>
          </a>
        </div>

        <div class="publication-author">{{paper.authors}}</div>
        <div class="publication-venue">{{paper.venue_full_name}} <b>({{paper.venue_short_name}})</b></div>

        <div class="publication-media-container mb-25 mt-20">
          <img class="publication-icon mr-5" src="./assets/img/icons/analysis.png" alt=""/>
          <a class="publication-link mr-25" href="{{ paper.paper_link | prepend: "/assets/publications/" }}" target="_blank">
            {% if paper.type == "poster" %}Abstract{% endif %}
            {% if paper.type == "paper" %}Paper{% endif %}
          </a>
          {% if paper.type == "poster" %}
            <img  class="publication-icon mr-5" src="./assets/img/icons/analysis.png" alt=""/>
            <a class="publication-link" href="{{ paper.poster_link | prepend: "/assets/publications/" }}" target="_blank">Poster</a>
          {% endif %}
        </div>
        
        {% if paper.type == "poster" %}
          <div class="poster-image"><img src="{{ paper.poster_image_link | prepend: "/assets/publications/" }}" alt=""/></div>
        {% endif %}
      </div>
		</div>
	{% endfor %}

  <hr class="row news-line"/>
  <div class="row mb-100"></div>
</div>