<div class="home-lab-name-container">
	<div class="container centered">
		<!-- <img src="{{ "../assets/img/lab-name.svg" | prepend: site.baseurl}}" alt="none" class="home-lab-name"> -->
		<div class="lab-name">PERSUE: PrivatE, Reliable, and SecUrE Computing Lab</div>
	</div>

	<!-- about -->
	<div class="about-container">
		<!-- <h2 style="text-align: center;">About the PERSUE</h2>
		<div class="flex-centered">
			<hr class="red-underline"/>
		</div> -->
		<div class="home-lab-moto">
			We aim to enhance the privacy, security, and reliability of computing technologies. 
			Our research activities identify and understand privacy, security, and reliability 
			issues with information technologies and explore mitigation strategies toward a 
			safer technology ecosystem. We take a human-centered perspective to understand the 
			problem space while combining techniques from AI and Machine Learning, 
			Internet Measurement, Cognitive Psychology, and Statistical Causal Inference 
			methodologies to solve the identified problems. Our research has been supported by the
			National Science Foundation and the Air Force Office of Scientific Research. 
		</div>
	</div>

	<!-- research opportunities -->
	<!-- <div class="research-container">
		<h2 style="text-align: center;">Research Opportunities</h2>
		<div class="flex-centered"><hr class="red-underline"/></div>
		<div>
			We are always looking for motivated student researchers at all levels (Ph.D., M.S., and undergraduate).
			If you are interested in joining our team, check out our projects.
		</div>
		<div class="flex-centered" style="margin-top: 15px">
			<a class="research-opportunities research-opportunity_btn" href="/projects" style="margin-right: 10px;">Checkout Our Research Projects</a>
			<a class="research-opportunities" href="/prospective-students">Join the Lab</a>
		</div>
	</div> -->

		<!-- recent news -->
		<div class="recent-container-home">
			<h2 style="text-align: left;">Recent News</h2>
			<div><hr class="red-underline"/></div>

			<div class="row mb-25">
				<div class="col-sm-1"><b class="recent-news-date">08/2024</b></div>
				<div class="col-sm-10 recent-news-text">
					We received $.5M funding from the National Science Foundation to 
					research on a new visualization technique to teach data privacy.
				</div>
			</div>
			
			<div class="row mb-25">
				<div class="col-sm-1"><b class="recent-news-date">08/2024</b></div>
				<div class="col-sm-10 recent-news-text">
					Our research on education technology and privacy at higher 
					education institutes will appear at ACM CCS! 
					<a class="news-link" href="https://arxiv.org/pdf/2405.11712" 
						target="_blank">target="_blank" class="news-link">Find the preprint here.</a>
				</div>
			</div>
						
			
			<div class="row mb-25">
				<div class="col-sm-1"><b class="recent-news-date">07/2024</b></div>
				<div class="col-sm-10 recent-news-text">
					Our research at the intersection of misinformation and privacy: 
					<a class="news-link" href="../assets/publications/Misinfo_STAST_2024.pdf" target="_blank"><b>
						Tell me what you like and I know what you will share: 
						Topical interest influences behavior toward news from high and low credible sources</b></a> 
					received *best paper award* at the 
					on <a href="https://stast.uni.lu/index.html" target="_blank" class="news-link">14th International Workshop on Socio-Technical Aspects in Security</a>
				</div>
			</div>

			<div class="row mb-25">
				<div class="col-sm-1"><b class="recent-news-date">08/2024</b></div>
				<div class="col-sm-10 recent-news-text">
					We received $.6M in funding from the Air Force Office of Scientific Research to 
					innovate on proactive cyber defense techniques.
				</div>
			</div>
			
			<div class="see_more_container"><a href="news.html" class="see_more">See more</a></div>
		</div>
</div>
