<div class="home-lab-name-container">
	<div class="container centered">
		<!-- <img src="{{ "../assets/img/lab-name.svg" | prepend: site.baseurl}}" alt="none" class="home-lab-name"> -->
		<div class="lab-name">PERSUE: PrivatE, Reliable, and SecUrE Computing Lab</div>
	</div>

	<!-- about -->
	<div class="about-container">
		<h2 style="text-align: center;">About the PERSUE</h2>
		<div class="flex-centered">
			<hr class="red-underline"/>
		</div>
		<div class="home-lab-moto">
			We aim to enhance the privacy, security, and reliability of computing technologies. Our research activities identify and understand privacy, security, and reliability issues with information technologies and explore mitigation strategies toward a safer technology ecosystem. We take a human-centered perspective to understand the problem space while combining techniques from AI and Machine Learning, Internet Measurement, Cognitive Psychology, and Statistical Causal Inference methodologies to solve the identified problems.
		</div>
	</div>

	<!-- research opportunities -->
	<div class="research-container">
		<h2 style="text-align: center;">Research Opportunities</h2>
		<div class="flex-centered"><hr class="red-underline"/></div>
		<div>
			We are always looking for motivated student researchers at all levels (Ph.D., M.S., and undergraduate).
			If you are interested in joining our team, check out our projects.
		</div>
		<div class="flex-centered" style="margin-top: 15px">
			<a class="research-opportunities" href="/projects" style="margin-right: 10px;">Our Research</a>
			<a class="research-opportunities" href="/prospective-students">Join the Lab</a>
		</div>
	</div>

		<!-- recent news -->
		<div class="recent-container-home">
			<h2 style="text-align: left;">Recent News</h2>
			<div><hr class="red-underline"/></div>

			<div class="row mb-25">
				<div class="col-lg-12">
					<p class="recent-news-text"><b class="recent-news-date">06/2023</b> Waqar's poster entitled <a class="news-link" href="#" target="_blank"><b>Exploring Privacy and Security Concerns of EdTech Users: A Qualitative Analysis of User Written Reviews</b></a> got accepted on <a href="https://www.usenix.org/conference/soups2023/call-for-posters" target="_blank" class="news-link">SOUPS 2023</a></p>
				</div>
			</div>

			<div class="row mb-25">
				<div class="col-lg-12">
					<p class="recent-news-text"><b class="recent-news-date">06/2023</b> Protik's poster entitled <a class="news-link" href="#" target="_blank"><b>Understanding the Effect of Private Data in Disinformation Propagation</b></a> got accepted on <a href="https://www.usenix.org/conference/soups2023/call-for-posters" target="_blank" class="news-link">SOUPS 2023</a></p>
				</div>
			</div>

			<div class="row mb-25">
				<div class="col-lg-12">
					<p class="recent-news-text"><b class="recent-news-date">03/2023</b> Protik's paper entitled <a class="news-link" href="https://arxiv.org/abs/2306.04883" target="_blank"><b>From Bad to Worse: Using Private Data to Propagate Disinformation on Online Platforms with a Greater Efficiency</b></a> got accepted on <a href="https://designpolicy.one/accepted.html" target="_blank" class="news-link">Design x Policy</a>, A CHI'23 workshop</p>
				</div>
			</div>
		</div>
</div>